
.answer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    max-height: 80px;
    border: 1px solid rgba(33, 33, 33, 0.6);
    border-radius: 40px;
    background-color: white;
}

.answer-container:hover {
    cursor: pointer;
    border: 3px solid #eea722;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0 ,0.24),0 17px 50px 0 rgba(0, 0, 0, 0.5);
    transform: translate(-0.1rem, 0.1rem);
    transition: transform 150ms;
}

.answer-text {
    color: #000;
    font-size: 16px;
    padding: 15px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}

.game-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

#level {
    color: white;
}

#question {
    height: 80px;
    font-size: 1.2rem;
    padding: 10px;
    margin: 30px 0 20px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 20px auto;
}

#progress-bar {
    width: 200px;
    height: 20px;
    border: 3px solid #eea722;
    margin-top: 15px; 
}

#progressBarFull {
    height: 14px;
    background-color: #eea722;
    width: 0%;
}

#score  {
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px 5px white, 4px 4px 10px #000;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#next-question {
    font-size: 20px;
    width: 200px;
}

/* End of game modal */
#end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px rgba(170, 0, 254,0.5);
    width: 250px;
}

input::placeholder {
    color: #bbb;
}

/* Loader credit: W3Schools: https://www.w3schools.com/howto/howto_css_loader.asp */
#loader {
    border: 15px solid white;
    border-radius: 50%;
    border-top: 16px solid #eea722;
    width: 120px;
    height: 120px;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
