#highScoresTable {
    list-style: none;
    padding-left: 0;
    margin: 30px;
    position: relative;
    left: -30px;
}

.high-score {
    font-size: 24px;
    margin-bottom: 8px;
}

/* credit James Q Quick: https://www.youtube.com/watch?v=jfOv18lCMmw */
.high-score:hover {
    transform: scale(1.05);
}
td {
    width: 7rem;
    padding: 10px;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}
.rank {
    border: 4px solid #eea722;
    border-radius:50%;
    display:block;
    height:40px;
    width:40px;
    margin:auto;
    line-height:32px;
    text-align:center
}

#highScores > img {
    margin: 20px 0 30px;
}

#finalScore {
    font-size: 50px;
}